[submodule "bp-cluster"]
	path = bp-cluster
	url = https://github.com/openshift-telco/bp-cluster-sno-du12.lab.diktio.net.git
[submodule "bp-common"]
	path = bp-common
	url = https://github.com/openshift-telco/bp-common.lab.diktio.net.git
[submodule "values"]
	path = values
	url = https://github.com/openshift-telco/values-global-lab.diktio.net.git
